<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EnrollmentSystem.Properties.Settings.DBSAMPLEConnectionString" connectionString="Data Source=.;Initial Catalog=DBSAMPLE;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="EnrollmentSystem.Properties.Settings.EnrolmentSystemConnectionString" connectionString="Data Source=.;Initial Catalog=EnrolmentSystem;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="EnrollmentSystem.Properties.Settings.DB_ENROLMENT_SYSTEMConnectionString" connectionString="Data Source=.;Initial Catalog=DB_ENROLMENT_SYSTEM;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="EnrollmentSystem.Properties.Settings.DB_ENROLMENT_SYSTEMConnectionString1" connectionString="Data Source=KEN-PC\SQLEXPRESS;Initial Catalog=DB_ENROLMENT_SYSTEM;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="EnrollmentSystem.Properties.Settings.DB_ENR_SYSConnectionString" connectionString="Data Source=.;Initial Catalog=DB_ENR_SYS;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="EnrollmentSystem.Properties.Settings.DB_ESConnectionString" connectionString="Data Source=.;Initial Catalog=DB_ES;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
</configuration>
